* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #18244A;
    font-size: 14px;
}

/* ======TYPOGRAPHY====== */
h1, 
h2 {
    font-weight: 800;
    margin: 0;
}

h1 {
    font-size: 6.969rem;
    margin-top: .25em;
    /* border: 2px magenta solid; */
}

h2 {
    font-size: 1.57rem;
    margin-bottom: 1em;
}

h3,
p {
    font-size: 1rem;
}

input,
button {
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    padding: 8px;
}

input::placeholder {
    color: rgb(189, 189, 189);
}

button {
    background: #18244A;
    color: white;
    font-weight: 600;
    margin-left: 5px;
}

button:hover {
    background: #345de4;
    cursor: pointer;
}


/* ======LAYOUT====== */
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 900%;
    text-align: center;
}

.section-top {
    margin: 0;
    background: linear-gradient(246.26deg, #2B75EC 0%, #2EC4DE 100%);
    color: white;
    min-height: 350px;
    padding: 5em 3.6em;
}

.section-bottom {
    padding: 5em;
    min-height: 350px;
}

@media (min-width: 700px) {
    h2 {
        font-size: 2rem;
    }

    h3,
    p,
    input,
    button {
        font-size: 1.57rem;
    }
}

@media (max-width: 427px) {
    h1 {
        font-size: 5rem;
        margin-top: .25em;
    }

    h2 {
        font-size: 1.1rem;
    }

    h3,
    p,
    input,
    button {
        font-size: .9rem;
    }

    button {
        margin-left: 0px;
        margin-top: 10px;
    }

    .section-top {
        height: 40vh;
    }
}